/* Search Styles */
#search-status {
	background-color: darkcyan;
	color: white;
	text-align: center;
	font-size: 18px;
	padding: 5px 0;
	margin-bottom: 1rem;
	display: none;
}

#spinner {
	display: none;
	margin-bottom: 1rem;
}
