/* Search Styles */
#search-status {
	color: white;
	text-align: center;
	font-size: 18px;
	padding: 5px 0;
	margin-bottom: 1rem;
	display: none;
}

#spinner {
	display: none;
	margin-bottom: 1rem;
}

/* Book Result Styles */
.book-cover {
	width: 100%;
	height: 236px;
	object-fit: cover;
}

small {
	display: block;
}
